@model NiboOfxParser.Models.StatementTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatementTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
